<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add connectionString="Data source =localhost:1521/xepdb1; user ID= jhoger; Password= 040704; Unicode = true;" name="conexion" />
	</connectionStrings>
</configuration>